.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  float: right;
  color: white;
  margin-bottom: 50px;
}

.message{
  position: relative;
  top: 40%;
  background: #6CADDC;
  float:center

}